In [12]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple
s="alok"
l=[2,34.32,43]
f=23.43
t=(1,4,7,8)

In [14]:
s

'alok'

In [15]:
l

[2, 34.32, 43]

In [16]:
f

23.43

In [17]:
t

(1, 4, 7, 8)

In [ ]:
#Q2. Given are some following variables containing data:
#(i) var1 = ' '
#(ii) var2 ='[DS,ML,Python]'
#(iii) var3 =['DS','ML','python']
#(iv) var4 = 1
#What will be the data type of the above given variable.
Ans 1--- it is a string
Ans 2--- it  is a string containing a list-like structure as a string
Ans 3--- it is a list containing a string -like structure  as a list
Ans 4--- it is a integer value is 1.
Ans (1) is a string
    (2) is a string
     (3) is a list
      (4) is a integer

In [31]:
#  Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [37]:

10//5 #t is a  division operator  it give the quotient

2

In [35]:
9 % 2 # it is the modulus  it give the remainder

1

In [36]:
9 //2 # it is a floor division it is also give the quotient

4

In [38]:
2**2 # it is a multiple operator it give the multiple of a number

4

In [43]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
my_list = [1, 2.5, 'hello', True, [1, 2, 3], {'name': 'Alice', 'age': 30}, None, ('apple', 'banana'), 4 + 3j, False]


for  i in my_list:
    print(f"Element: {i}, Data Type: {type(i)}")

Element: 1, Data Type: <class 'int'>
Element: 2.5, Data Type: <class 'float'>
Element: hello, Data Type: <class 'str'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'Alice', 'age': 30}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: ('apple', 'banana'), Data Type: <class 'tuple'>
Element: (4+3j), Data Type: <class 'complex'>
Element: False, Data Type: <class 'bool'>

In [5]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))


count = 0


while A >= B and A % B == 0:
    A = A / B
    count += 1


if count > 0:
    print(f"{A} is divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the value of A: 80
Enter the value of B: 8
10.0 is divisible by 8, and it can be divided 1 times.

In [1]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
my_list = [2, 5, 10, 18, 21, 7, 19, 14, 28, 33, 6, 15, 22, 30, 8, 4, 27, 16, 11, 20, 25, 36, 45, 49, 3]


for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

2 is not divisible by 3
5 is not divisible by 3
10 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
7 is not divisible by 3
19 is not divisible by 3
14 is not divisible by 3
28 is not divisible by 3
33 is divisible by 3
6 is divisible by 3
15 is divisible by 3
22 is not divisible by 3
30 is divisible by 3
8 is not divisible by 3
4 is not divisible by 3
27 is divisible by 3
16 is not divisible by 3
11 is not divisible by 3
20 is not divisible by 3
25 is not divisible by 3
36 is divisible by 3
45 is divisible by 3
49 is not divisible by 3
3 is divisible by 3

In [7]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
# mutable data types are those whose values can be modified after creation. 
#it is work only in list
l=[2,3,4,5]
l[2]=300

In [8]:
l

[2, 3, 300, 5]

In [9]:
# immutable data types are those whose values cannot be a modified creation.
# it work in string ,tuble,set
s="alok","bittu"
s[1]="pwskills"

TypeError: 'tuple' object does not support item assignment